.options{
    display: flex;
    flex-direction: row;
    border-radius: 24px;
    background: #FAF9F9;
    border: 1px solid #CD8B65;
    box-sizing: border-box; 
    margin-top: 28px;
}
.text{
    max-width: 199px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
.icon{
    border-radius: 68px;
    width: fit-content;
    background: #2f2f2f1e;
    padding: 25px;
}
.icon img{
    width: 50px;
    height: 50px;
}

.first{
    width: 50%;
    padding: 25px;
}
.second{
    width: 50%;
    padding: 25px;
}
.second_option_active{
    width: 50%;
    padding: 25px;
    background: linear-gradient(180deg, #CD8B65 0%, #BB6B3D 100%);
    border-radius: 0 20px 20px 0;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.first_option_active{
    width: 50%;
    padding: 25px;
    background: linear-gradient(180deg, #CD8B65 0%, #BB6B3D 100%);
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.first_option_active
p{
    color: white;
}
.second_option_active
p{
    color: white;
}