.my_checkbox{
    padding:16px!important;
    font-size: 16px!important;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 8px;
    height: 53px!important;
    cursor: pointer!important;
    margin-right: 7px;
    font-weight: 800;
}
.my_checkbox_active{
    padding:16px!important;
    font-size: 16px!important;
    background: linear-gradient(115.41deg, #CD8A64 -1.77%, #C4794F 73.03%);
    border: 1px solid linear-gradient(115.41deg, #CD8A64 -1.77%, #C4794F 73.03%);
    box-sizing: border-box;
    border-radius: 8px;
    height: 53px!important;
    cursor: pointer!important;
    margin-right: 7px;
    font-weight: 800;
    color: white;
}
.donation_container{
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    margin:auto;
    margin-top: 15px;
}

.home_label{

    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #2F2F2F;

}

.donation_wrap{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.donation_wrap
span{
    position: absolute;
    right: 19px;
    font-weight: 800;
}

.active{
    color: white;
}