.app_container{
    max-width: 1140px;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
}

.layout{
    width: 60%;
}
.layout_container{
    max-width: 557px;
}
.image{
    width: 40%;
}

.app 
input,select{
    padding : 37px 0 16px 24px;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 8px;
    width: 557px;
    height: 74px;
}

.app
form{
    display: flex;
    flex-direction: column;
    max-width: max-content;
}

.app
button{
    padding : 20px 24px;
    font-size: 14px;
    border-radius: 100px;
    border: 0;
    cursor: pointer;
    width: fit-content;
    font-weight: 800;
}

.page{
    width: 20.6px;
    height: 6px;
    border-radius: 10px;
    margin-right: 5px;
    background: #9F9F9F;
    display: inline-block;
}

.page_active{
    background: #CD8B65;
    width: 43.77px;
    height: 6px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 5px;

}

.app{
    font-family: 'Public Sans', sans-serif;
}

.app
input:focus{
    outline: none;
    border : 1px solid #CD8B65;
    transition : 0.5s;
}
.app
input[type=checkbox]{
    background: #FFFFFF;
    border: 1px solid #F3E2D9;
    box-sizing: border-box;
    border-radius: 8px;
    width: 34px;
    height: 34px;
    cursor: pointer;
}
