.footer{
    bottom: 0;
}
.footer_container{
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgba(47, 47, 47, 0.16);
    padding-top: 95px;
    padding: 100px;
}

.menu{
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 30px;
}

.navigation{
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}
.navigation:last-child{
    margin-right: 0;
}

.navigation_header{
    margin-bottom: 24px;
}

.navigation_content{
    max-width: 170px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
}

.logo h1{
    margin-left: 16px;
    font-weight: 600;
}