.header{
    width: 100%;
    background: #FEFEFE;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
    font-size: 14px;
}
.header_container{
    height: 40px;
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}